@font-face{
			font-family: "LJMC";
			src:url('fonts/Liu_Jian_Mao_Cao/LiuJianMaoCao-Regular.ttf');
		}
@font-face{
			font-family: "Jomolhari";
			src:url('fonts/Jomolhari/Jomolhari-Regular.ttf');
		}
@font-face{
			font-family: "Indieflower";
			src:url('fonts/Indie_Flower/IndieFlower-Regular.ttf');
		}
@font-face{
			font-family: "Modak";
			src:url('fonts/Modak/Modak-Regular.ttf');
		}
@font-face{
			font-family: "Bowlby";
			src:url('fonts/Bowlby_one/BowlbyOneSC-Regular.ttf');
		}
@font-face{
			font-family: "Dancing";
			src:url('fonts/Dancingscript/DancingScript-Regular.ttf');
		}